

<h5 class="post-title"><%= title %></h5>
<p class="post-content"><%= content %></p>
<button class="edit-post">Edit</button>
<button class="delete-post">Delete</button>
<button class="update-post" style="display:none">Update</button>
<button class="cancel-post" style="display:none">Cancel</button>