<div id="riaz"></div>
<div class="title-container">
	<div class="title">To Do List</div>
</div>
<div class="blurb">
	<p>Post some things you want to do!</p>
</div>

<div class="new-post">
	<input type="text" class="title-input" placeholder="title">
	<textarea type="text" class="content-input" placeholder="content"></textarea>
	<button class="add-new">Add this post</button>
</div>

<div id="container"></div>

