
<div class="title-container">
	<div class="title">Code Blog</div>
</div>
<div class="blurb">
	<p>Share your coding problems and solutions!</p>
</div>

<div class="new-post">
	<input type="text" class="title-input" placeholder="title">
	<input type="text" class="content-input" placeholder="content">
	<button class="add-new">Add this post</button>
</div>

<div id="container"></div>

