<!DOCTYPE html>
<html>
<head>
  <title>CodeBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

</head>
<body>
	<div class="outer">
		<%= yield %>
	</div>
</body>
</html>
